{% extends "_includes/default.njk" %}

{% block content %}
  {# <div class="fixed inset-0 flex justify-center items-center"> #}
  <main class="" style="width: 100vw, height: 100vh">
    <div class="mx-auto w-1/2 py-5 space-y-3">
      <div class="h-64 flex flex-row items-center space-x-3">
        <div class="window-no-p h-full bg-amber-100 p-0">
          <img class="w-auto h-64" src="https://paulbiberstein.me/_next/static/images/portrait-6fbca57aa656ca168ad4743cd6e4d443.jpg"/>
        </div>
        <div class="window h-full w-0 bg-teal-100 flex-grow">
          <h2 class="window-header">About Me</h2>
          I'm an incoming computer science Ph.D student at the University of Pennsylvania. 
                </div>
      </div>
      <div class="window bg-lime-100">
        <h2 class="window-header">Past</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel elit quis eros dignissim tincidunt at rutrum quam. Maecenas dignissim, libero id consequat tempor, ante lacus ultrices velit, vitae varius massa velit in purus. Cras odio neque, feugiat a tortor non, imperdiet laoreet ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed scelerisque dui purus, vitae mattis odio consectetur vel. Morbi ante lorem, commodo ac diam sit amet, viverra tristique diam. Mauris tempor gravida quam at vulputate. Pellentesque scelerisque laoreet ex, sit amet porttitor felis eleifend eu. Quisque vitae eros eget neque lobortis commodo. Vivamus venenatis ipsum a leo auctor, sed condimentum tellus dapibus. Aenean eget ex lorem. Pellentesque pharetra ut sapien at consectetur. Aliquam erat volutpat. Etiam non turpis lectus. Pellentesque imperdiet commodo urna id fermentum.
            </div>
      <div class="window bg-purple-100">
        <h2 class="window-header">Projects</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel elit quis eros dignissim tincidunt at rutrum quam. Maecenas dignissim, libero id consequat tempor, ante lacus ultrices velit, vitae varius massa velit in purus. Cras odio neque, feugiat a tortor non, imperdiet laoreet ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed scelerisque dui purus, vitae mattis odio consectetur vel. Morbi ante lorem, commodo ac diam sit amet, viverra tristique diam. Mauris tempor gravida quam at vulputate. Pellentesque scelerisque laoreet ex, sit amet porttitor felis eleifend eu. Quisque vitae eros eget neque lobortis commodo. Vivamus venenatis ipsum a leo auctor, sed condimentum tellus dapibus. Aenean eget ex lorem. Pellentesque pharetra ut sapien at consectetur. Aliquam erat volutpat. Etiam non turpis lectus. Pellentesque imperdiet commodo urna id fermentum.
            </div>
      <div class="window bg-orange-100">
        <h2 class="window-header">Research</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel elit quis eros dignissim tincidunt at rutrum quam. Maecenas dignissim, libero id consequat tempor, ante lacus ultrices velit, vitae varius massa velit in purus. Cras odio neque, feugiat a tortor non, imperdiet laoreet ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed scelerisque dui purus, vitae mattis odio consectetur vel. Morbi ante lorem, commodo ac diam sit amet, viverra tristique diam. Mauris tempor gravida quam at vulputate. Pellentesque scelerisque laoreet ex, sit amet porttitor felis eleifend eu. Quisque vitae eros eget neque lobortis commodo. Vivamus venenatis ipsum a leo auctor, sed condimentum tellus dapibus. Aenean eget ex lorem. Pellentesque pharetra ut sapien at consectetur. Aliquam erat volutpat. Etiam non turpis lectus. Pellentesque imperdiet commodo urna id fermentum.
            </div>
    </div>
  </main>
{% endblock %}
