---
title: Oops! Not Found
permalink: 404.html
---

{% extends "_includes/default.njk" %}

{% block content %}
  <div class="w-full min-h-screen flex flex-col justify-center items-center content-center">
    <div class="window hover:shadow-blue-400">
      <h1 class="mb-4 font-mono">This page doesn't exist</h1>
      <a href="/">Go back home?</a>
    </div>
  </div>
{% endblock %}
