@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-disc list-inside;
}

a[href^="mailto"] {
  @apply cursor-pointer underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}
a:not(:has(>picture))[href^="http"] {
  box-shadow: 2px 2px 0 0 black;
  margin: 0rem 2px;
  @apply cursor-pointer border border-black
}
a:hover:not(:has(>picture))[href^="http"] {
  /* box-shadow: 0px 0px 0 0 gray; */
  @apply bg-gray-100
}

h2 {
  @apply text-3xl font-mono transition-colors duration-300;
}
h3 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-xl;
}

.window-no-p {
  @apply border border-black transition-shadow duration-300 shadow-black shadow-hard
}

.window,
article>h2,
article>h3 {
  @apply border border-black p-4 transition-shadow duration-300 shadow-black shadow-hard
}

#name:hover {
  @apply shadow-lime-500
}

#name:hover h2 {
  @apply text-lime-500
}

#twitter:hover {
  @apply shadow-lime-500
}

#twitter:hover h2 {
  @apply text-lime-500
}

#past:hover {
  @apply shadow-red-400
}

#past:hover h2 {
  @apply text-red-400
}

#present:hover {
  @apply shadow-blue-400
}

#present:hover h2 {
  @apply text-blue-400
}

#projects:hover {
  @apply shadow-purple-500
}

#projects:hover h2 {
  @apply text-purple-500
}
