@tailwind base;

a {
  @apply underline cursor-pointer text-blue-500;
}

h2 {
  @apply my-2 text-3xl;
}

h3 {
  @apply my-2 text-2xl;
}

hr {
  @apply w-1/5 h-px my-4 bg-gray-700 border-0;
}

@tailwind components;

.scroll-arrow {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.scroll-arrow:hover {
  border: solid gray;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.project-screen {
  max-width: 66.6%;
  max-height: 75%;
  width: auto;
  height: auto;

  @apply absolute shadow;
}

@tailwind utilities;
